<link rel="stylesheet" href="<%= assetPath('css/_body.css') %>" />

<div class="body">
	<%- include('_header.ejs'); -%>
	<div class="library">
		<h1>My Playlists</h1>
		<div class="library__playlists playlist_click">
			<% try{for(let playlist of ePlaylists){ %>
			<div
				class="song playlist_click"
				onclick="window.location.href='/playlists/<%= playlist._id %>';"
			>
				<div class="album playlist_click">
					<img
						src="<%= playlist.thumbnail %>"
						alt="<%= playlist.name %>"
					/>
				</div>
				<div class="songInfo playlist_click">
					<h4 class="playlist_click"><%= playlist.name %></h4>
				</div>
			</div>
			<% }}catch(err){} %> <% try{for(let playlist of playlists){ %>
			<div
				class="song playlist_click"
				onclick="window.location.href='/playlists/custom/<%= playlist._id %>';"
			>
				<div class="album playlist_click">
					<img
						src="<%= playlist.thumbnail %>"
						alt="<%= playlist.name %>"
					/>
				</div>
				<div class="songInfo playlist_click">
					<h4 class="playlist_click"><%= playlist.name %></h4>
				</div>
			</div>
			<% }}catch(err){} %>
		</div>

		<h1>My Songs</h1>
		<div class="library__songs">
			<% try{for(let track of tracks){ %>
			<div
				class="song playable-tracks"
				data-song-thumbnail="<%= track.thumbnail %>"
				data-song-name="<%= track.name %>"
				data-song-artist="<%= track.artist.name %>"
				data-song-url="<%= track.url %>"
			>
				<div
					class="album"
					style="background-image: url('<%= track.thumbnail %>')"
				></div>
				<div class="songInfo">
					<h4><%= track.name %></h4>
					<p><%= track.artist.name %></p>
				</div>
			</div>
			<% }}catch(err){} %>
		</div>

		<h1>My Artists</h1>
		<div class="library__artists">
			<% try{for(let artist of artists){ %>
			<div
				class="song"
				onclick="window.location.href='/artists/<%= artist._id %>';"
			>
				<div
					class="album"
					style="background-image: url('<%= artist.thumbnail %>')"
				></div>
				<div class="songInfo">
					<h4><%= artist.name %></h4>
				</div>
			</div>
			<% }}catch(err){} %>
		</div>

		<h1>My Albums</h1>
		<div class="library__albums">
			<% try{for(let album of albums){ %>
			<div
				class="song"
				onclick="window.location.href='/albums/<%= album._id %>';"
			>
				<div
					class="album"
					style="background-image: url('<%= album.thumbnail %>')"
				></div>
				<div class="songInfo">
					<h4><%= album.name %></h4>
				</div>
			</div>
			<% }}catch(err){} %>
		</div>
	</div>
</div>
