<link rel="stylesheet" href="<%= assetPath('css/_body.css') %>" />
<script defer src="<%= assetPath('js/toggleLike.js') %>"></script>

<div class="body">
	<%- include('_header.ejs'); -%>
	<div class="liked_playlist">
		<div class="body__info">
			<img
				src="https://i.pinimg.com/originals/07/74/a4/0774a492388967e2b5b6d65b95f3fd1a.png"
				alt="Playlist Banner"
			/>
			<div class="body__infoText">
				<strong>PLAYLIST</strong>
				<h2>Liked Songs</h2>
				<div class="user_info">
					<img src="<%= locals.user.avatar %>" alt="User Image" />
					<p><%= locals.user.name %></p>
					<p>•</p>
					<p><%= likedTracks.length %> Songs</p>
				</div>
			</div>
		</div>

		<div class="body__songs">
			<div class="body__icons">
				<i class="fa-solid fa-circle-play body__shuffle"></i>
				<i class="fa-solid fa-ellipsis"></i>
			</div>
			<%- include('_songRow.ejs'); -%>
		</div>
	</div>
</div>
