<link rel="stylesheet" href="<%= assetPath('css/_songRow.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/_body.css') %>" />

<div class="body">
	<%- include('_header.ejs'); -%>
	<form
		action="/playlists/create-playlist"
		method="post"
		id="create_playlist"
		enctype="multipart/form-data"
	>
		<div class="create_playlist">
			<div class="body__info">
				<div
					class="albumImage"
					style="background-image: url('<%= assetPath(BG) %>')"
				>
					<input
						type="file"
						name="thumbnail"
						class="playlistPoster"
						accept="image/png, image/gif, image/jpeg, image/jpg"
					/>
				</div>
				<div class="body__infoText">
					<strong>PLAYLIST</strong>
					<input
						type="text"
						name="custom_link"
						value="<%= assetPath(BG) %>"
						hidden
					/>
					<input
						type="text"
						name="name"
						class="playlist_nameInput"
						value="Custom Playlist"
						minlength="1"
						min="1"
						autocomplete="off"
					/>
					<h2 class="playlist_name">Custom Playlist</h2>
					<div class="user_info">
						<img src="<%= locals.user.avatar %>" alt="User Image" />
						<p><%= locals.user.name %></p>
						<p>•</p>
						<p>0 Songs</p>
					</div>
				</div>
			</div>

			<div class="body__songs">
				<div class="body__icons"></div>
				<% for(let song of tracks){ %>
				<div class="songRow">
					<img
						src="<%= song.thumbnail %>"
						alt="<%= song.name %>"
						class="songRow__album"
					/>
					<div class="songRow__info">
						<h1><%= song.name %></h1>
						<p><%= song.artist.name %></p>
					</div>
					<p><%= song.album.name %></p>
					<input
						type="checkbox"
						name="songs"
						id="<%= song.id %>"
						value="<%= song.id %>"
					/>
				</div>
				<% } %>
			</div>
			<input type="submit" value="Create" />
		</div>
	</form>
</div>
