<link rel="stylesheet" href="<%= assetPath('css/_body.css') %>" />
<script defer src="<%= assetPath('js/toggleLike.js') %>"></script>

<div class="body">
	<%- include('_header.ejs'); -%>
	<div class="playlist">
		<div class="body__info">
			<img src="<%= playlist.thumbnail %>" alt="Playlist Banner" />
			<div class="body__infoText">
				<strong>PLAYLIST</strong>
				<h2><%= playlist.name %></h2>
				<p><%= playlist.description %></p>
				<div class="user_info">
					<img src="<%= locals.user.avatar %>" alt="User Image" />
					<p
						onclick="window.location.href='/users/profile/<%= locals.user.id %>';"
					>
						<%= locals.user.name %>
					</p>
					<p>•</p>
					<p>
						<% try{ %> <%= playlist.existingPlaylistTrackRelations.length
						%> <% }catch(err){} %> <% try{ %> <%=
						playlist.playlistTrackRelations.length %> <% }catch(err){} %>
						Songs
					</p>
				</div>
			</div>
		</div>

		<div class="body__songs">
			<div class="body__icons">
				<i class="fa-solid fa-circle-play body__shuffle"></i>
				<% if(ePlaylist){ if(playlistLikes.length > 0){ %>
				<i
					class="fa-solid fa-heart toggle-like-button"
					style="font-size: xx-large; color: #1ed15e"
					data-likes="<%= playlist.likes.length %>"
					data-url="/likes/toggle/?id=<%= playlist._id %>&type=ExistingPlaylist"
					data-type="ExistingPlaylist"
				></i>
				<% }else{ %>
				<i
					class="fa-solid fa-heart toggle-like-button"
					style="font-size: xx-large; color: #fff"
					data-likes="<%= playlist.likes.length %>"
					data-url="/likes/toggle/?id=<%= playlist._id %>&type=ExistingPlaylist"
					data-type="ExistingPlaylist"
				></i>
				<% } }else{ if(playlistLikes.length > 0){ %>
				<i
					class="fa-solid fa-heart toggle-like-button"
					style="font-size: xx-large; color: #1ed15e"
					data-likes="<%= playlist.likes.length %>"
					data-url="/likes/toggle/?id=<%= playlist._id %>&type=Playlist"
					data-type="Playlist"
				></i>
				<% }else{ %>
				<i
					class="fa-solid fa-heart toggle-like-button"
					style="font-size: xx-large; color: #fff"
					data-likes="<%= playlist.likes.length %>"
					data-url="/likes/toggle/?id=<%= playlist._id %>&type=Playlist"
					data-type="Playlist"
				></i>
				<% }} %>
				<i class="fa-solid fa-ellipsis"></i>
			</div>
			<%- include('_songRow.ejs'); -%>
		</div>
	</div>
</div>
