<link rel="stylesheet" href="<%= assetPath('css/home.css') %>" />
<script defer src="<%= assetPath('js/search.js') %>"></script>

<% if(locals.user){ %> <%- include('modal.ejs') -%>
<div class="player">
	<div class="player__body">
		<%- include('_sidebar.ejs') -%> <%- include('_search.ejs') -%>
	</div>
	<%- include('_footer.ejs') -%>
</div>
<% }else{ %>
<div class="login">
	<img
		src="https://getheavy.com/wp-content/uploads/2019/12/spotify2019-830x350.jpg"
		alt="spotify-logo"
		class="login__logo"
	/>
	<div class="logo__btns">
		<a href="/users/auth/spotify" class="login__spotifyBtn">
			<img
				src="<%= assetPath('images/spotify-logo.png') %>"
				alt="Sign in with Spotify"
			/>
			Login With Spotify
		</a>
		<a href="/users/auth/google" class="login__googleBtn">
			<img
				src="<%= assetPath('images/google-logo.jpg') %>"
				alt="Sign in with Google"
			/>
			Login With Google
		</a>
		<a href="/users/login" class="login__btn">
			<i class="fa-solid fa-envelope"></i>
			Login With Email
		</a>
	</div>
</div>
<% } %>
