<link rel="stylesheet" href="<%= assetPath('css/share.css') %>" />

<div id="share">
	<h1><span><%= username %></span> is currently listening to,</h1>
	<img src="<%= song.thumbnail %>" alt="<%= song.name %>" />
	<h1><%= song.name %> by <%= song.artist %></h1>
	<h1>Only on <span>The Spotify Clone App</span></h1>
	<h1 onclick="window.location.href='<%= link %>';">Checkout Now</h1>
	<img
		src="https://getheavy.com/wp-content/uploads/2019/12/spotify2019-830x350.jpg"
		alt="spotify__logo"
	/>
</div>
